#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.alert{
  border: 2px solid #242424;
  border-radius: 0.4em;
  padding: 1.2em;
  width: 80vw;
  margin: 0.3em;
  text-shadow: 1px 1px 1px #242424;
  display: flex;
  justify-content: space-between;
}
.alert-success{
  background-color: lightgreen;
}
.alert-error{
  background-color: rgb(238, 94, 94);
}
.alert-info{
  background-color: rgb(234, 229, 87);
}
.fadeAlert{
  animation: fadeAlert 0.5s ease-in-out;
}
p{
  cursor: pointer;
}
@keyframes fadeAlert{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}